include menu.pug
include postsData.pug
mixin Post(userData = {})
  - const {img, tag, title, date, author, description} = userData;
  .post(class=description ? 'post_big' : '')
    img.post__picture(src=img, alt="")
    .post__content
      .post__tag=tag
      .post__title=title
      .post__info
        .post__date=date
        .post__athor!=author
      if description
        .post__description=description

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fashion Blog
    link(rel="stylesheet", href="./stylus/style.styl")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap" rel="stylesheet")
  body
    header.Header
      .Header__top
        .Logo: include img/logo.svg
        +Menu
      .Header__main
        .Header__topText Vehicle
        .Header__title One of Saturn’s largest rings may be newer than anyone
        .Header__bottom
          .Header__info June 6, 2019
          .Header__info #[span By] Rickie Baroch
          .Header__info #[a(href="#") 4 comments]
    .mainContent
      .wrapper.mainContent__wrapper
        .posts
          .posts__list
            each post in posts
              +Post(post)
          .posts__pagination
        .siderbar
          .about
            .about__title About the author
            img.about__photo(src="", alt="")
            .about__name Kate Willems
            .about__position Food & cooking bloger
            .about__text Hi, I'm Sonia. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
            a.about__link(href="") Continue Reading
