include menu.pug
include postsData.pug
mixin Post(userData = {})
  - const {img, tag, title, date, author, description} = userData;
  .post(class=description ? 'post_big' : '')
    img.post__picture(src=img, alt="")
    .post__content
      .post__tag=tag
      .post__title=title
      .post__info
        .post__date=date
        .post__athor!=author
      if description
        .post__description=description

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fashion Blog
    link(rel="stylesheet", href="./stylus/style.styl")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap" rel="stylesheet")
  body
    header.Header
      .Header__top
        .Logo: include img/logo.svg
        +Menu
      .Header__main
        .Header__topText Vehicle
        .Header__title One of Saturn’s largest rings may be newer than anyone
        .Header__bottom
          .Header__info June 6, 2019
          .Header__info #[span By] Rickie Baroch
          .Header__info #[a(href="#") 4 comments]
    .mainContent
      .wrapper.mainContent__wrapper
        .posts
          .posts__list
            each post in posts
              +Post(post)
          .posts__pagination
        .siderbar
          .about
            .about__title About the author
            .about__content
              img.about__photo(src="./img/author_pic.jpg", alt="")
              .about__name Kate Willems
              .about__position Food & cooking bloger
              .about__text Hi, I'm Sonia. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
              a.about__link(href="#") Continue Reading
          .featured
            .featured__title Featured posts
            .featured__post
              img.featured_photo(src="./img/featured_pic1.jpg", alt="")
              .featured__tag jeans
              .featured__text One of Saturn’s largest rings may be newer than anyone
              .featured__info June 6, 2019 By Rickie Baroch
            .featured__post
              img.featured_photo(src="./img/featured_pic2.jpg", alt="")
              .featured__tag jeans
              .featured__text One of Saturn’s largest rings may be newer than anyone
              .featured__info June 6, 2019 By Rickie Baroch
            .featured__post
              img.featured_photo(src="./img/featured_pic3.jpg", alt="")
              .featured__tag jeans
              .featured__text One of Saturn’s largest rings may be newer than anyone
              .featured__info June 6, 2019 By Rickie Baroch
          .categories
            .categories__title Categories
            .categories__list
              .categories__items
                .categories__item Fashion
                .categories__item (23)
              .categories__items
                .categories__item Style & clothes
                .categories__item (7)
              .categories__items
                .categories__item Minimalism
                .categories__item (16)
              .categories__items
                .categories__item Black & White
                .categories__item (5)
              .categories__items
                .categories__item Modern clothes
                .categories__item (12)
          .socialMedia
            .socialMedia__title Social media
            .socialMedia__items
              .socialMedia__item
                img.socialMedia__pic(src="./img/facebook.svg", alt="")
                .socialMedia__text 32k likes
              .socialMedia__item
                img.socialMedia__pic(src="./img/pinterest.svg", alt="")
                .socialMedia__text 814 followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/vimeo.svg", alt="")
                .socialMedia__text 165 followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/dribbble.svg", alt="")
                .socialMedia__text 6k followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/twitter.svg", alt="")
                .socialMedia__text 130k followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/behance.svg", alt="")
                .socialMedia__text 37k followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/instagram.svg", alt="")
                .socialMedia__text 854k followers
              .socialMedia__item
                img.socialMedia__pic(src="./img/youtube.svg", alt="")
                .socialMedia__text 52k subscribers
              .socialMedia__item
                img.socialMedia__pic(src="./img/google_plus.svg", alt="")
                .socialMedia__text 642 followers
          .tags
            .tags__title Tags
            .tags__list
              a.tags__item(href="#") Business
              a.tags__item(href="#") Freelance
              a.tags__item(href="#").tags__nomargin Money
              a.tags__item(href="#") Experience
              a.tags__item(href="#") Lifestyle
              a.tags__item(href="#").tags__nomargin SEO
              a.tags__item(href="#") Wordpress
              a.tags__item(href="#") Marketing
              a.tags__item(href="#").tags__nomargin UX
              a.tags__item(href="#") Modern
              a.tags__item(href="#") Success
              a.tags__item(href="#").tags__nomargin Nature
